.current-round {
  .round-pot {
    .loading {
      &.container {
        position: relative;
      }

      &.indicator {
        position: relative !important;
        display: inline-block;
      }
    }
  }
}
